body{
	/*background: #34343D;;*/	
	background: #1D1D27;
	font-family: PingFangSC-Medium;
	font-size: 20px;
	color: #FFFFFF;
}
.div-panel{
	padding: 4% 1.5%;
}
.label{
	color: #58586B;
}
.span{
	font-family: PingFangSC-Medium;
	font-size: 20px;
	color: #FFFFFF;
}
.explain{
	font-family: PingFangSC-Medium;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
input{
	border: none;
	border-bottom: 1px solid #2F2F3A;
	background: none;
	outline: none;
	color: white;
}
input::-webkit-input-placeholder{
	color: #363542;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #363542;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #363542;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #363542;
}
.form-group{
	margin-top: 20px;
	height: 70px;
}
.link{
	font-size: 15px;
}
.btn-block{
	background: #0D9F67;
}
.span-label{
	color: #58586B;
	font-size: 16px;
}
a:hover{
	text-decoration: none;
}



